<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ListEasy</title>

    <!-- Add Bootstrap CSS file from a CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <!-- Link stylesheets -->
    <link rel="stylesheet" href="/styles/css/custom.css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />

    <%- include('partials/_header') %>

    <!-- Link scripts -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

    <!-- Link fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Satisfy&display=swap" rel="stylesheet">

    <!-- FontAwesome link to use icons -->
    <script
      src="https://kit.fontawesome.com/aa76f277e3.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <!-- Main HTML -->

    <!-- Card showing the details of the task -->
    <div id="task-details-card" class="card">
      <div class="card-body">
        <h2 class="display-4 default-font"><%= task[0].task_name %></h2>
        <p class="lead default-font"><%= task[0].category %></p>
        <hr class="my-4">
        <p class="lead default-font">
          <a class="btn btn-light" data-toggle="modal" data-target="#edit-task-modal" role="button">Change category</a>
          <a class="btn btn-outline-light" data-toggle="modal" data-target="#confirm-delete-modal" role="button">Delete</a>
        </p>
      </div>
    </div>

    <!-- Edit task modal -->
    <div
      class="modal fade"
      id="edit-task-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editTaskModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title default-font" id="editUserModalLabel">Edit task</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form method="POST" action="/tasks/<%= task[0].id %>">
              <div class="form-group">
                <label for="taskSelect1" class="default-font">Change this task's category:</label>
                <select class="form-control default-font" id="taskSelect1" name="changedCategory">
                  <% if (task[0].category === 'To watch') { %>
                  <option><%= task[0].category %></option>
                  <option>To read</option>
                  <option>To eat</option>
                  <option>To buy</option>
                  <% } %>
                  <% if (task[0].category === 'To read') { %>
                  <option><%= task[0].category %></option>
                  <option>To watch</option>
                  <option>To eat</option>
                  <option>To buy</option>
                  <% } %>
                  <% if (task[0].category === 'To eat') { %>
                  <option><%= task[0].category %></option>
                  <option>To watch</option>
                  <option>To read</option>
                  <option>To buy</option>
                  <% } %>
                  <% if (task[0].category === 'To buy') { %>
                  <option><%= task[0].category %></option>
                  <option>To watch</option>
                  <option>To read</option>
                  <option>To eat</option>
                  <% } %>
                </select>
              </div>
              <div class="form-group float-right">
                <button type="submit" class="btn btn-secondary btn-sm default-font">Save</button>
                <button type="button" class="btn btn-outline-dark btn-sm default-font" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Confirm delete modal -->
    <div
      class="modal fade"
      id="confirm-delete-modal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editTaskModalLabel"
      aria-hidden="true"
    >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Confirm</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p>Are you sure you want to delete this task? There's no going back!</p>
        </div>
        <div class="modal-footer">
          <form method="POST" action="/tasks/delete/<%= task[0].id %>">
            <button type="submit" class="btn btn-outline-dark">Delete</button>
            <button type="button" class="btn btn-outline-dark" data-dismiss="modal" aria-label="Close">
              Cancel
            </button>
          </form>
        </div>
      </div>
    </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
