<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ListEasy</title>

    <!-- Add Bootstrap CSS file from a CDN -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
      integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
      crossorigin="anonymous"
    />

    <!-- Link stylesheets -->
    <link rel="stylesheet" href="/styles/css/custom.css" />
    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
    <link rel="stylesheet" href="/vendor/border-box.css" />

    <%- include('partials/_header') %>

    <!-- Link scripts -->
    <script src="/vendor/jquery-3.0.0.js"></script>
    <script defer src="/scripts/app.js"></script>

    <!-- External CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- Link fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans&family=Satisfy&display=swap" rel="stylesheet">

    <!-- FontAwesome link to use icons -->
    <script
      src="https://kit.fontawesome.com/aa76f277e3.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <!-- Main HTML -->

    <!-- Form for adding a new task -->
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-4">
          <h2 class="text-center mb-3 default-font text-light">Add a Task</h2>
          <form id="new-task-form" method="POST" action="/tasks">
            <div class="input-group mb-3">
              <input
                type="text"
                class="form-control"
                name="task_name"
                placeholder="Enter a new task"
                aria-label="Task"
                aria-describedby="task-button"
              />
              <div class="input-group-append">
                <button
                  class="btn btn-outline-secondary grey-custom"
                  type="submit"
                  id="task-button"
                >
                  <i class="fa-solid fa-plus"></i>
                </button>
              </div>
            </div>
          </form>
          <div class="loading-spinner mx-auto"></div>
        </div>
      </div>
    </div>

    <!-- Edit User Modal -->
    <div
      class="modal fade"
      id="userModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="editUserModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title default-font" id="editUserModalLabel">Edit User</h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form id="edit-user" action="#">
              <div class="form-group">
                <label for="editUserEmail">Email</label>
                <input
                  type="email"
                  class="form-control"
                  name="email"
                  id="editUserEmail"
                  aria-describedby="emailHelp"
                  placeholder="Enter email"
                />
                <div>
                  <small class="font-weight-bold default-font">Current email: </small><small id="userEmailDisplay" class="default-font"><%= user.email %></small>
                </div>
              </div>
              <div class="form-group">
                <label for="editUserPassword">Password</label>
                <input
                  type="password"
                  class="form-control"
                  name="password"
                  id="editUserPassword"
                  placeholder="Enter password"
                />
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-secondary default-font"
                  data-dismiss="modal"
                >
                  Close
                </button>
                <button type="submit" class="btn btn-primary default-font">Submit</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Cards for displaying tasks -->
    <div class="container mt-5 default-font">
      <div class="card-deck card-height">
        <div class="card card-height custom-card">
          <div class="card-header grey-custom orange-bg font-weight-bold">To Watch
            <span id="watch-count" class="badge badge badge-light badge-pill float-right">
              <% let watchTasks = 0;
              for (const task of tasks) {
                if (task.category === 'To watch') {
                  watchTasks += 1;
                }
              } %>
              <%= watchTasks %>
            </span>
          </div>
          <ul id="to-watch-list"class="list-group list-group-flush overflow-auto">
          </ul>
          <div class="card-footer mt-auto grey-custom orange-bg">
            <small class="text-dark font-weight-bold">IMDb</small>
          </div>
        </div>
        <div class="card card-height custom-card">
          <div class="card-header grey-custom orange-bg font-weight-bold">To Read
            <span id="read-count" class="badge badge badge-light badge-pill float-right">
              <% let readTasks = 0;
              for (const task of tasks) {
                if (task.category === 'To read') {
                  readTasks += 1;
                }
              } %>
              <%= readTasks %>
            </span>
          </div>
          <ul id="to-read-list" class="list-group list-group-flush overflow-auto">
          </ul>
          <div class="card-footer mt-auto grey-custom orange-bg">
            <small class="text-dark font-weight-bold">Google Books</small>
          </div>
        </div>
        <div class="card card-height custom-card">
          <div class="card-header grey-custom orange-bg font-weight-bold">To Eat
            <span id="eat-count" class="badge badge badge-light badge-pill float-right">
              <% let eatTasks = 0;
              for (const task of tasks) {
                if (task.category === 'To eat') {
                  eatTasks += 1;
                }
              } %>
              <%= eatTasks %>
            </span>
          </div>
          <ul id="to-eat-list" class="list-group list-group-flush overflow-auto">
          </ul>
          <div class="card-footer mt-auto grey-custom orange-bg">
            <small class="text-dark font-weight-bold">Yelp</small>
          </div>
        </div>
        <div class="card card-height custom-card">
          <div class="card-header grey-custom orange-bg font-weight-bold">To Buy
            <span id="buy-count" class="badge badge badge-light badge-pill float-right">
              <% let buyTasks = 0;
              for (const task of tasks) {
                if (task.category === 'To buy') {
                  buyTasks += 1;
                }
              } %>
              <%= buyTasks %>
            </span>
          </div>
          <ul id="to-buy-list" class="list-group list-group-flush overflow-auto">
          </ul>
          <div class="card-footer mt-auto grey-custom orange-bg">
            <small class="text-dark font-weight-bold">Amazon</small>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
